.button--edit {
    background: #e1a93e;
}

.button--reload {
    background:   #005d6d;
    /* #60b269 */
}  

.box--ok {
    background: #60e266;
    
}

.box--warning {
    background:  #ffec00;
    
}

.box--danger {
    background:  #D6001C;
    
}